@import url('https://fonts.googleapis.com/css?family=Pacifico');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



body {
  font-family: 'Open Sans', sans-serif;
  background: #a0c1b9;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 75px;
}

label {
  padding: 10px;
}

input {
  text-align: center;
  border: none;
  padding: 8px;
}















.explanation {
  text-align: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results,
.taskflex {
  background: teal;
}

.reminder {
list-style-type: square;
}

.task {
  list-style-type: disc;

}
.event {
list-style-type: circle;
}

.bullet {
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 5px;
}




.taskflex {
  display: flex;
  justify-content: center;
}

.delete {
  margin-left: 10px;
}






input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #706993 ;
  /* 706993 70a0af */
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,.26);
  padding: 10px 5px;
  border-radius: 8px;
}

button {
    cursor: pointer;
    /* display: inline; */
    border: 0;
    min-width: 20px;
    color: #fff;
    background-color: #706993 ;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.26);
    padding: 3px 5px;
    border-radius: 8px;
}

footer {

  background: black;
  color: white;
}

footer p {
  padding: 5px;
  margin: 0;
}
