@import url('https://fonts.googleapis.com/css?family=Pacifico|Patrick+Hand|Muli');

.App {
  text-align: center;
  flex: 1 0 auto;
}

html, 
body {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: 'Patrick Hand', cursive;
  background: #a0c1b9;
}

header img {
  height: 100px;
  width: auto;
}

.titleFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Acessibility skip link styling */
/* ============================== */
.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}

.main-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: auto;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 8rem;
  margin: 10px 0;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}


li,
form,
label,
input,
footer
{
  font-size: 2rem;
}

label {
  padding: 10px;
}

input {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  border: none;
  padding: 0 2px;
  border-radius: 3px;
}

.explanation {
  text-align: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  margin: 0;
}

.results,
.taskflex {
  text-align: left;
}

.note {
list-style-type: square;
}

.task {
  list-style-type: disc;

}
.event {
list-style-type: circle;
}

.bullet {
  display: block;
  margin-left: 10px;
  padding: 10px;
  /* margin-top: 5px; */
}

.addItem {
  border-radius: 5px;
  border-top: 5px solid #706993;
  background: #fff;
  padding: 20px 20px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,.26);
  width: 55%;
  margin: 0 auto;
  margin-bottom: 10px;  
}

.taskflex {
  display: flex;
  justify-content: space-between;
}

select {
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

select,
.taskflex li,
button {
font-family: 'Patrick Hand', cursive;
}

.delete {
  margin-left: 10px;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #706993;
  /* 706993 70a0af */
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,.26);
  padding: 10px 5px;
  border-radius: 8px;
}

.userChoice {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
    cursor: pointer;
    border: 0;
    min-width: 20px;
    color: black;
    background-color: #a0c1b9 ;
    /* box-shadow: 5px 5px 5px 0 rgba(0,0,0,.26); */
    padding: 3px 5px;
    border-radius: 8px;
}

button.hitMe {
  cursor: pointer;
  padding: 10px 5px;
  margin-bottom: 10px;
  border: 0;
  color: white;
  background-color: #706993;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,.26);
}

footer {
  background: black;
  color: white;
}

footer p {
  padding: 5px;
  margin: 0;
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

/* // RESPONSIVE STYLES
// ================= */

 @media only screen and (max-width: 380px) {
  h1 {
    font-size: 50px;
  }
  ul {
    padding-left: 25px;
  }
  .addItem {
    width: 80%;
  }

 }